<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/admin/product" method="POST">
      <input type="text" placeholder="Product Name" name="product_name" />
      <input type="text" placeholder="Product Description" name="product_desc" />
      <input type="number" placeholder="Product Price" name="product_price" />
      <input type="number" placeholder="Product Quantity" name="product_quantity" />
      <input type="text" placeholder="Add Image" name="product_image" />
      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
